.menuForm__header {
    display: flex;
    justify-content: space-evenly;

}

.flex-container {
    display: flex;
}

.menuDay-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.draggable-recipe-container{
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 2px 10px;
    margin-bottom: 5px;
    width: 200px;
}

.recipe__name {
    margin: 0;
}

.recipeList {
    border: 2px solid darkgrey;
    border-radius: 5px;
    padding: 10px;
}

.mealDayForm-container {
    border: 2px solid darkgrey;
    border-radius: 5px;
    padding: 10px;
    min-height: 10px;
}

.menu-card {
    width: 300px;
}

.recipe-library {
    width: 300px;
}

.menu-name-field-label {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    width: 200px;
    padding: .375rem .75rem;
    margin: 0;
}