.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: lightgrey;
    align-items: center;
}

.navbar__list {
    display: flex;
    justify-content: flex-start;
}

.navbar__item {
    margin-left: 4vw;
    margin-right: 4vw;
    list-style-type: none;
    padding-bottom: 0;
}
